<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>logging in!</title>
	<base href="/">

	<meta charset="utf-8" http-equiv="Refresh"   th:content="${samlLink}" />
	<!--<meta charset="utf-8" http-equiv="Refresh" content="0; url=https://dev.bookfinder.elsevier.net/saml/sp/discovery/saml/sp/discovery?idp=https://sts.windows.net/9274ee3f-9425-4109-a27f-9fb15c10675d/" />-->
</head>
<body>

<div>
	<span style="font-weight:bold">You are logging in!</span>
</div>
</body>
</html>
